.App {
  display: inline-block;

  text-align: center;

  overflow: hidden;

  height: 100%;
  width: 100%;

  background-color: #94D7F5;
}

#root {
  background-color: #94D7F5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-content {
  float: right;

  height: auto;
  width: 75%;

  margin: 0;
  
  z-index: 1;

  overflow: hidden;

  font-family: "Raleway";
}

#Dev-content {
  position: fixed;
  bottom: 0;
  left: 0;

  height: 90px;
  width: auto;

  margin: 0 40% 0 40%;

  color: #FF0000;

  border: 2px solid #FF0000;

  z-index: 10000;

  clear: both;
}

#Dev-content-text {
  background-color: #3A3A3A;

  color: #FF0000;

  padding: 1% 10% 10% 10%;

  font-weight: 300;

  font-family: "Montserrat";
}