.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-content {
  background-color: #ffffff;
  position: absolute;
  left: 25%;
  width: 75%;
  height: 4000px;
  margin: 0;
}