#Home-container {
    position: relative;

    height: auto;
    background-color: black;

    display: inline-block;
}

/*Intro-header will contain the video gradient*/
#Intro-header {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.7);

    overflow: hidden;
}

/*The video*/
#Intro-animation {
    position: absolute;
    top: 0;
    left: 0;

    height: auto;
    width: 100%;

    z-index: 0;
}

/*The main background image*/
#Intro-header-image {
    position: absolute;
    top: 0;
    left: 0;

    height: auto;
    width: 100%;

    z-index: 0;
  }

/*The gradient on the video, this should end right at the end at the video*/
#Intro-gradient-container {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 1));

    z-index: 1;
}

/*The gradient on the video, this is a left to right gradient*/
#Intro-gradient-container-side {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));

    z-index: 2;
}

#Intro-header-content {
    position: absolute;

    width: 100%;
    height: 100%;

    z-index: 2;

    color: white;

    display: block;

    font-weight: bold;
}

#Intro-header-title {
    position: absolute;
    top: 20%;
    left: 10%;

    height: 180px;
    width: 80%;
    padding: 5px;

    text-align: left;

    z-index: 2;

    color: white;

}

#Intro-header-text {
    color: black;
    background-color: white;

    padding: 6px;

    font-size: 1.5em;
    font-weight: bold;

    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
}

#Intro-header-text-small {
    color: black;
    background-color: white;

    width: auto;

    padding: 6px 10px 6px 10px;
    margin: 0.83em 0.83em 0.83em 0.83em;

    font-size: 1.2em;
    font-weight: 700;

    display: table;

    clear: both;

    -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
}

#Intro-content {
    height: 100vh;
    background: #000000;

    color: #ffffff;
}

#Intro-picture {
    background: #000000;
    
    width: 30%;
    height: auto;

    margin: 5%;

    float: right;

    border: 4px solid #000000;
    border-radius: 10%;
}

#Intro-text {
    width: 50%;
    height: auto;

    margin: 5%;

    float: left;

    color: white;
}
