#Metrics-container {
    position: relative;
    
    height: auto;
}

#Metrics-content {
    height: auto;
    width: 80%;
    margin: 10%;
    border: 1px solid black;
}

#Temp-text {
    vertical-align: middle;
    color: black;

    width: 50%;
    height: 20%;
    margin: auto;
}