#Projects-container {
    position: relative;

    margin: 5% 0 5% 0;

    height: auto;
}

#Projects-header {
    position: relative;

    color: black;

    font-size: 24pt;
    font-weight: bold;

    padding: 5% 5% 0 5%;
}

#Node-container {
    height: auto;
    width: 90%;

    margin: 2.5% 5% 2.5% 5%;
}