#Node-item {
    width: 80%;
    height: 100%;

    margin: 0 10% 0 10%;

    background-color: /*rgb(0,0,0,0)*/#7289DA;

    border: 2px solid #ffffff;
    border-radius: 10px;

    overflow: hidden;

    z-index: 0;
}

#Node-expanded {

    overflow: hidden;

    z-index: 1;
}

#Node-collapsed {
    height: 100%;
    width: auto;

    overflow: hidden;

    z-index: 1;

    background-repeat: no-repeat;
    background-size: auto 100%;

    color: white;
    font-size: 24pt;
    font-weight: 600;
}

#Node-collapsed-title {
    margin: 10px;
}
