  #App-side-bar-container {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 25%;
    min-width: 150px;

    z-index: 1;

    float: left;

    -webkit-box-shadow: 1px 0px 0px 0px rgba(0,0,0,0.9);
    -moz-box-shadow: 1px 0px 0px 0px rgba(0,0,0,0.9);
    box-shadow: 1px 0px 0px 0px rgba(0,0,0,0.9);
  }

  .Side-bar {
    position: relative;
    background-color: black;
    color:#FFFEE4;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    font-family: "Montserrat";
  }
  
  #Side-bar-content {
    margin: 5% 5% 5% 5%;
    border: none;
    height: 90%;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
  }
 
  .Side-bar-cards-container {
    min-width: 100px;
  }

  #Profile-picture {
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 50%;
  }

  #Side-bar-nav {
    display: block;
    width: 80%;
    margin: 2.5%;
  }

  #Side-bar-contacts {
    margin: 2.5%;
  }
  
  .Side-bar-card-link {
    display: block;
    text-decoration: none;
    width: 100%;
    color: black;
    margin: -1em auto -1em auto;
  }
  
  .Side-bar-nav-link {
    margin: 3px 0;
    min-width: 72px;

    /*DECPRECATED*/
    /*Border*/
    /*
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, black, rgba(0, 0, 0, 0.8), black) 1 10%;
    border-left: none;
    border-right: none;
    */
  }
  
  
  .Side-bar-nav-submit {
    background-color: black;
    width: 100%;

    display: block;

    /*Text*/
    font-size: 14pt;
  }

  .Side-bar-nav-submit a{
    text-decoration: none;
    color: #FFFEE4;
  }
  
  .Side-bar-card-line {
    display: block;
    width: auto;
  }
  
  .Side-bar-card-icon {
    font-size: 18pt;
    margin: -5px 0px -5px 0px;
  }
  
  .Side-bar-card-text {
    font-size: 10pt;
    display: inline-block;
    margin: auto auto auto auto;
    font-weight: 700;
    text-align: center;
    color: #FFFEE4;
  }

  #Side-bar-footer {
    position: absolute;
    bottom: 10px;
    font-size: 8pt;
  }
  
  /*Mobile version will be contained here*/
  @media screen and (max-width: 800px){
    .Side-bar-card-text {
      font-size: 6pt;
      display: inline-block;
      margin: auto auto auto auto;
      word-wrap: break-word;
    }
  
    .Side-bar-card-icon {
      font-size: 12pt;
      margin: -5px 0px -5px 0px;
    }
  
    .email-text {
      font-size: 6pt;
    }

    .Side-bar-nav-submit {
        font-size: 10pt;
    }
  }
